
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.min.js"></script>
        <link rel="stylesheet" href="stylesheets/jquery.mobile.icons.min.css" />
        <link rel="stylesheet" href="stylesheets/jquery.mobile.structure-1.4.2.min.css" />
        <link href="stylesheets/jquery.mobile.structure-1.4.2.min.css" rel="stylesheet" />
        <link rel="text/javascript" href="javascripts/dataGrid.js">
        <link rel="text/javascript" href="javascripts/dxAll.js">
        
        <link rel="stylesheet" type="text/css" href="http://cdn3.devexpress.com/jslib/14.1.8/css/dx.common.css" />
        <link rel="stylesheet" type="text/css" href="http://cdn3.devexpress.com/jslib/14.1.8/css/dx.light.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Pay For Performance</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/> 
    <link rel="stylesheet" href="stylesheets/comhar-2.0.6.min.css" />

  

<meta charset="utf-8" />
      


    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.min.js"></script>
    <link rel="stylesheet" href="stylesheets/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" type="text/css" href="http://cdn3.devexpress.com/jslib/14.1.8/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="http://cdn3.devexpress.com/jslib/14.1.8/css/dx.light.css" />
</head>
<body>
  
    <form id="form1" >

        <div data-role="page" id="ETCM" data-theme="c" data-dom-cache="false">
            
            <div data-role="panel" id="leftPanel" data-position="left" data-display="push">
                <ul data-role="listview">
                    <li><a href="#Outpatient">OutPatient</a></li>
                    <li><a href="#ETCM">ETCM</a></li>
                    <li><a href="#BHRS">BHRS</a></li>
                    <li><a href="#CIRC">CIRC</a></li>
                    <li><a href="#LTSR">LTSR</a></li>
                </ul>
            </div>


            <div data-role="panel" id="rightPanel" data-position="right" data-display="push">

                <ul data-role="listview">
                    <li><a href="#About">About Pay For Performance</a></li>
                    <li><a href="#Help">Pay for Prformance Help</a></li>
                    <li><a href="http://comhar.org">Comhar Web Site</a></li>
                </ul>



            </div>

            <div data-role="header">

                <a href="#leftPanel" data-icon="bars" style="margin-top:8px">Menu</a>
                <h1><span style="font-family: 'Times New Roman'; color: #0055a5; font-size:2em; font-style: italic; margin-left: 10px;">Pay For Performance</span></h1>
                <a href="#rightPanel" data-icon="info" style="margin-top:8px">Info</a>
                <div style="width:100%;border-bottom:solid 3px white;"></div>
            </div>


            <div role="main" class="ui-content" data-theme="c">
                <h1>ETCM</h1>
                <div data-role="collapsible" data-collapsed-icon="arrow-r" data-collapsed="true" data-theme="b" data-content-theme="c">
                    <h3>TCM 01:Service Delivery and Continuity of Care</h3>
                    <div data-role="collapsible" data-collapsed-icon="arrow-r" data-collapsed="false">
                        <h3>Percent of authorizations having at least one 31 day gap between services</h3>
                        <div class="ui-grid-a ui-responsive">
                            <div class="ui-block-a">
                                <div class="ui-bar ui-bar-a" style="background-color:white;">
                                    <div id="chart-TCM-01-01"></div>
                                </div>
                            </div>
                            <div class="ui-block-b">
                                <div class="ui-bar ui-bar-c">
                                    <div data-role="collapsible">
                                        <h3>Rationale</h3>
                                        <p>To measure the continuity of service provided to CBH-funded TCM and ACT members. Continuity of care is an important measure as we believe that the likelihood of recovery is improved when services are consistent and continuous.</p>
                                    </div>
                                    <div data-role="collapsible">
                                        <h3>Definition</h3>
                                        <p>Percentage of CBH members with one or more 31-day gaps in service observed among all members receiving services from the reporting provider in the reporting period.</p>
                                    </div>
                                    <div data-role="collapsible">
                                        <h3>Eligible Population</h3>
                                        <p>Philadelphia HealthChoices members who had a TCM authorization with multiple paid claims spanning at least 31 days during the reporting period (7/1/2012 – 6/30/2013).</p>
                                    </div>
                                    <div data-role="collapsible">
                                        <h3>Count the event when...</h3>
                                        <p>…at any time during the reporting period (7/1/2012 – 6/30/2013) after the authorization date, the member has had a period of 31 days since the last paid CBH claim on the authorization, unless that claim is the last claim billed to that authorization in the reporting period.</p>
                                    </div>
                                    <div data-role="collapsible">
                                        <h3>If multiple providers/care levels</h3>
                                        <p>If a client is authorized for TCM services with multiple providers or across multiple levels of care during the same time period, the member is considered to have multiple episodes with overlapping time periods. Therefore, a member may be included in the denominator of more than one provider</p>
                                    </div>
                                    <div data-role="collapsible">
                                        <h3>If there are multiple gaps</h3>
                                        <p>A member is only counted in the numerator once, regardless of the number of 31-day gaps in service.</p>
                                    </div>
                                    <div data-role="collapsible">
                                        <h3>Denominator</h3>
                                        <p>Members Served: The total number of members with multiple CBH paid claims for a specific authorization with the given provider and level of care in the reporting period. These paid claims must span at least 31 days in the reporting period.</p>
                                    </div>
                                    <div data-role="collapsible">
                                        <h3>Numerator</h3>
                                        <p>
                                            <span style="font-weight:600;">Members with Observed Gaps in Service:</span>&nbsp;The number of members for whom one or more 31-day gaps in service are observed for the reporting provider and given level of care.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-role="collapsible">
                            <h3>Encounter Details</h3>
                            <div id="gridContainer" style="width:100%; height:auto;"></div>
                        </div>
                    </div>
                    <div data-role="collapsible" data-collapsed-icon="arrow-r" data-collapsed="false">
                        <h3>Change in percent of authorizations with at least one 31 day gap in service in the reporting period</h3>
                        <div class="ui-grid-a ui-responsive">
                            <div class="ui-block-a">
                                <div class="ui-bar ui-bar-a" style="background-color:white;">
                                    <div id="chart-TCM-01-02"></div>
                                </div>
                            </div>
                            <div class="ui-block-b">
                                <div class="ui-bar ui-bar-c">
                                    <div data-role="collapsible">
                                        <h3>Rationale</h3>
                                        <p>To measure the continuity of service provided to CBH-funded TCM and ACT members. Continuity of care is an important measure as we believe that the likelihood of recovery is improved when services are consistent and continuous.</p>
                                    </div>
                                    <div data-role="collapsible">
                                        <h3>Definition</h3>
                                        <p>Percentage of CBH members with two or more 31-day gaps in service observed among all members receiving services from the reporting provider in the reporting period.</p>
                                    </div>
                                    <div data-role="collapsible">
                                        <h3>Eligible Population</h3>
                                        <p>Philadelphia HealthChoices members who had a TCM authorization with multiple paid claims spanning at least 31 days during the reporting period (7/1/2012 – 6/30/2013).</p>
                                    </div>
                                    <div data-role="collapsible">
                                        <h3>Count the event when...</h3>
                                        <p>…at any time during the reporting period (7/1/2012 – 6/30/2013) after the authorization date, the member has had a period of 31 days since the last paid CBH claim on the authorization, unless that claim is the last claim billed to that authorization in the reporting period.</p>
                                    </div>
                                    <div data-role="collapsible">
                                        <h3>If multiple providers/care levels</h3>
                                        <p>…the member is considered to have multiple episodes with overlapping time periods. Therefore, a member may be included in the denominator of more than one provider.</p>
                                    </div>
                                    <div data-role="collapsible">
                                        <h3>If there are multiple gaps</h3>
                                        <p>A member is only counted in the numerator once, regardless of the number of 31-day gaps in service.</p>
                                    </div>
                                    <div data-role="collapsible">
                                        <h3>Denominator</h3>
                                        <p>Members Served: The total number of members with multiple CBH paid claims for a specific authorization with the given provider and level of care in the reporting period. These paid claims must span at least 31 days in the reporting period.</p>
                                    </div>
                                    <div data-role="collapsible">
                                        <h3>Numerator</h3>
                                        <p>Members with Observed Gaps in Service: The number of members for whom two or more 31-day gaps in service are observed for the reporting provider and given level of care.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-role="collapsible" data-collapsed-icon="arrow-r" data-collapsed="true" data-theme="b" data-content-theme="a">
                    <h3>TCM 02:Service Delivery and Continuity of Care</h3>
                    <div data-role="collapsible" data-collapsed-icon="arrow-r" data-collapsed="false">
                        <h3>Percent of authorizations having at least two 31 day gaps between services</h3>
                        <div id="chart-TCM-02-01"></div>

                    </div>
                </div>
                <div data-role="collapsible" data-collapsed-icon="arrow-r" data-collapsed="true" data-theme="b" data-content-theme="a">
                    <h3>TCM 03:Assessment and Service Delivery</h3>
                    <div data-role="collapsible" data-collapsed-icon="arrow-r">data-theme="b" data-collapsed="false">
                        <h3>Percent of persons having a least one impatient admission</h3>
                        <div id="chart-TCM-03-01"></div>

                    </div>

                </div>
                <div data-role="collapsible" data-collapsed-icon="arrow-r" data-collapsed="true" data-theme="b" data-content-theme="a">
                    <h3>TCM 04:Assessment and Service Delivery</h3>
                    <div data-role="collapsible" data-collapsed-icon="arrow-r">data-theme="b" data-collapsed="false">
                        <h3>Percent having a TCM contact within 2 days of inpatient admission</h3>
                        <div id="chart-TCM-04-01"></div>

                    </div>

                </div>
            </div>
            <div data-role="footer" data-position="fixed">
                <div style="width:100%;border-top:solid 3px white;"></div>
                <h1><img style="width: 140px; vertical-align: middle" src="images/CLogo.png" alt="" /></h1>
            </div>
        </div>

        <div data-role="page" id="BHRS" data-theme="a" data-dom-cache="false">

            <div data-role="panel" id="leftPanelBHRS" data-position="left" data-display="push">
                <ul data-role="listview">
                    <li><a href="#Outpatient">Outpatient</a></li>
                    <li><a href="#ETCM">ETCM</a></li>
                    <li><a href="#BHRS">BHRS</a></li>
                    <li><a href="#CIRC">CIRC</a></li>
                    <li><a href="#LTSR">LTSR</a></li>
                </ul>
            </div>


            <div data-role="panel" id="rightPanelBHRS" data-position="right" data-display="push">

                <ul data-role="listview">
                    <li><a href="#About">About Pay For Performance</a></li>
                    <li><a href="#Help">Pay for Prformance Help</a></li>
                    <li><a href="http://comhar.org">Comhar Web Site</a></li>
                </ul>

            </div>

            <div data-role="header">

                <a href="#leftPanelBHRS" data-icon="bars">Menu</a>
                <h1><img style="width: 140px; vertical-align: middle" src="images/CLogo.png" alt=" " /><span style="font-family: 'Times New Roman'; color: #0055a5; font-size:2em; font-style: italic; margin-left: 10px;">Pay For Performance</span></h1>
                <a href="#rightPanelBHRS" data-icon="info">Info</a>

            </div>

            <div role="main" class="ui-content" data-theme="a">
                <div data-role="collapsible" data-collapsed-icon="arrow-r" data-collapsed="true" data-theme="a" data-content-theme="b">
                    <h3>BHRS 01:Service Delivery and Continuity of Care</h3>

                    <div data-role="collapsible" data-collapsed-icon="arrow-r">data-theme="b" data-collapsed="false">
                        <h3>Percent of authorizations having at least one 31 day gap between services</h3>
                        <div id="chart-BHRS-04-01"></div>

                    </div>

                    <div data-role="collapsible" data-collapsed-icon="arrow-r" data-collapsed="false">
                        <h3>Change in percent of authorizations with at least one 31 day gap in service in the reporting period</h3>
                        <div id="chart-BCRS-04-01"></div>
                    </div>

                </div>
            </div>

        </div>
        <div data-role="page" id="About" data-theme="c" data-dom-cache="false">
            <div data-role="header">

                <a href="#leftPanel" data-icon="bars">Menu</a>
                <h1><img style="width: 140px; vertical-align: middle" src="images/clogo.png" alt="" /><span style="font-family: 'Times New Roman'; color: #0055a5; font-size:2em; font-style: italic; margin-left: 10px;">Pay For Performance</span></h1>
                <a href="#rightPanel" data-icon="info">Info</a>

            </div>
            <div role="main" class="ui-content" data-theme="b">
                <div data-role="collapsible" data-collapsed-icon="arrow-r" data-collapsed="false">
                    <h3>About</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet ultrices eros. Ut et pulvinar diam. Ut tristique blandit lacus semper vestibulum. Sed suscipit dui elit, non mollis neque commodo at. Maecenas viverra ante vel eleifend pellentesque. Vivamus sagittis mauris condimentum est tempus, non viverra neque feugiat. Morbi porta eros vitae mi pretium, et tristique est consectetur. Cras et dolor luctus, volutpat urna vitae, auctor risus. Cras arcu arcu, blandit a pellentesque et, pulvinar id erat. Suspendisse nec turpis imperdiet, auctor arcu et, consequat justo. Nullam est tortor, gravida vel urna ac, varius malesuada metus. Ut vitae suscipit ipsum. Nam vestibulum leo sed lectus egestas venenatis.
                    </p>
                </div>

            </div>
        </div>
        <div data-role="page" id="Help" data-theme="c" data-dom-cache="false">
            <div data-role="header">

                <a href="#leftPanel" data-icon="bars">Menu</a>
                <h1><img style="width: 140px; vertical-align: middle" src="images/clogo.png" alt="" /><span style="font-family: 'Times New Roman'; color: #0055a5; font-size:2em; font-style: italic; margin-left: 10px;">Pay For Performance</span></h1>
                <a href="#rightPanel" data-icon="info">Info</a>

            </div>
            <div role="main" class="ui-content" data-theme="b">
                <div data-role="collapsible" data-collapsed-icon="arrow-r" data-collapsed="false">
                    <h3>Help</h3>
                    <p>
                        Donec dapibus lorem eu auctor tempor. Vivamus dignissim, turpis et pulvinar varius, risus nunc tristique neque, sed tristique velit orci id turpis. Suspendisse sodales, purus mollis faucibus lacinia, risus metus venenatis quam, vitae mattis metus mi eget sapien. Cras porttitor ante ac porta feugiat. Suspendisse potenti. Curabitur ultricies dictum nisi, at consectetur purus rhoncus quis. Aenean quam nibh, elementum a sem sed, tempor adipiscing orci. Mauris egestas libero leo, a rhoncus mi rutrum ac. Sed accumsan augue in sollicitudin vulputate. In rhoncus dui erat, in congue nisi auctor nec. Aenean risus ipsum, lobortis non suscipit ut, tristique eu ipsum. Proin commodo, augue ac tincidunt posuere, massa mi rutrum sem, nec volutpat diam lacus in velit.
                    </p>
                </div>

            </div>
        </div>

    </form>

    <script src="javascripts/jquery-2.1.1.min.js" type="text/javascript" ></script>
    <script src="javascripts/jquery.mobile-1.4.2.min.js"></script>
    <script src="javascripts/highcharts.js"></script>
    <script src="javascripts/highcharts-more.js"></script>
    <script src="javascripts/modules/exporting.js"></script>
    <script src="javascripts/knockout-3.1.0.debug.js"></script>
    <script src="javascripts/knockout-3.1.0.js"></script>

    <script src="javascripts/modernizr-2.7.2.js"></script>
    <script src="javascripts/dashboardApi-1.0.0.js"></script>
    <script src="javascripts/dashboard-1.0.0.js"></script>
    <script src="javascripts/dataGrid.js"></script>
    <script src="javascripts/dxAll.js"></script>
    <script src="javascripts/addDataGrid.js"></script>

</body>
</html>

